<div class="list-group-item">
  <h3 class="list-group-item-heading">
    <%= task.title %>
    <span class="text-muted"><small>
      <%= task.status %>
    </small></span>
  </h3>
  <% if task.created_by?(current_user) %>
  <div class="text-right">
    <%= link_to "編集", [:edit, current_user, task], class: "btn btn-primary" %>
    <%= link_to "削除", [current_user, task], method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger" %>
  </div>
  <% end %>
  <div class="list-group-item-text">
    <p><%= task.memo %></p>
  </div>
</div>