<div class="list-group-item">
  <% unless task.created_by?(current_user) %>
      <% if task.open %>
          <h4 class="list-group-item-heading">
            <%= link_to task.title, [task.user, task] %>
          </h4>
          <div class="list-group-item-text">
            <p><%= task.memo %></p>
          </div>
      <% end %>

  <% else %>

      <div class="row">
        <div class="col-md-8 col-xs-12">
          <h4 class="list-group-item-heading" data-toggle="modal" data-target="#createSpeack">
            <%= link_to task.title, [task.user, task] %>
            <% unless task.open %>
                <span class="glyphicon glyphicon-eye-close"></span>
            <% end %>
          </h4>
          <div class="list-group-item-text">
            <p><%= task.memo %></p>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="text-right">
            <%= link_to "編集", [:edit, current_user, task], class: "btn btn-primary btn-sm" %>
            <%= link_to "削除", [current_user, task], method: :delete, class: "btn btn-danger btn-sm" %>
          </div>
        </div>
      </div>
  <% end %>
</div>