<div class="page-header">
  <h1><%= "#{@user.name}さんの"%>タスク一覧</h1>
</div>

<% if current_user == @user %>
<p><%= link_to "タスクを作成する", [:new, current_user, :task] %></p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <% if @user.tasks.present? %>
    <div class="list-group">
      <% @tasks.daily.each do |task| %>
      <%= render "attributes", task: task %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="list-group">
      <% @tasks.weekly.each do |task| %>
      <%= render "attributes", task: task %>
      <% end %>
    </div>

    <div class="list-group">
      <% @tasks.monthly.each do |task| %>
      <%= render "attributes", task: task %>
      <% end %>
    </div>
  </div>
</div>

<% else %>
<h1>タスクがありません</h1>
<% end %>
