<div class="page-header">
  <h1><%= "#{@user.name}さんの"%>タスク一覧</h1>
</div>

<p><%= link_to "タスクを作成する", [:new, current_user, :task] if current_user == @user %></p>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item list-group-item-danger">
        <div class="list-group-item-heading">
          今日のタスク
        </div>
      </div>
      <% if @tasks.daily.present? %>
      <% @tasks.daily.each do |task| %>
      <%= render "attributes", task: task %>
      <% end %>
    <% else %>
    <div class="list-group-item">
      <div class="list-group-item-text">
        <h4>タスクがありません</h4>
      </div>
    </div>
    <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item list-group-item-success">
        <div class="list-group-item-heading">
          今週のタスク
        </div>
      </div>
      <% if @tasks.weekly.present? %>
      <% @tasks.weekly.each do |task| %>
      <%= render "attributes", task: task %>
      <% end %>
      <% else %>
      <div class="list-group-item">
        <div class="list-group-item-text">
          <h4>タスクがありません</h4>
        </div>
      </div>
      <% end %>
    </div>

    <div class="list-group">
      <div class="list-group-item list-group-item-info">
        <div class="list-group-item-heading">
          今月のタスク
        </div>
      </div>
      <% if @tasks.monthly.present? %>
      <% @tasks.monthly.each do |task| %>
      <%= render "attributes", task: task %>
      <% end %>
      <% else %>
      <div class="list-group-item">
        <div class="list-group-item-text">
          <h4>タスクがありません</h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
