<div class="page-header">
  <h1><%= "#{@user.name}さんの"%>タスク一覧</h1>
</div>

<% if current_user %>
  <p><%= link_to "タスクを作成する", [:new, current_user, :task] %></p>
<% end %>

<% if @user.tasks.present? %>
  <div class="list-group">
    <% @tasks.each do |task| %>
    <div class="list-group-item">
      <h3 class="list-group-item-heading">
        <%= task.title %>
        <span class="text-muted"><small>
          <%= task.released_at.strftime("%Y/%m/%d %H:%M") %> - <%= task.created_at.strftime("%Y/%m/%d %H:%M") %>
        </small></span>
      </h3>
      <div class="text-right">
        <%= link_to "編集", [:edit, current_user, task], class: "btn btn-primary" %>
        <%= link_to "削除", [current_user, task], method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger" %>
      </div>
      <div class="list-group-item-text">
        <p><%= task.memo %></p>
      </div>
    </div>
    <% end %>
  </div>
<% else %>
  <p>タスクがありません</p>
<% end %>
