<div class="page-header">
  <h2>コメント一覧</h2>
</div>

<div class="row">
  <div class="col-md-8">
        <table class="table table-hover table-striped">
          <% @speacks.each do |speack| %>
        <tr>
            <th>
              <%= link_to speack.user.name, [speack.user, :tasks] %>
            </th>
            <td>
              <%= speack.comment %>
            </td>
          </tr>
    <% end %>
    </table>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createSpeack">
      コメントする
    </button>
    <div class=" modal fade" id="createSpeack" tabindex="-1" role="dialog" aria-labelledby="dialogHeadear" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="dialogHeader">コメント
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </h4>
          </div>
          <%= form_for(@task.speacks.build, url: user_task_speacks_path(@task.user, @task), remote: true) do |form| %>
              <div class="modal-body">
                <%= form.text_field :comment, class: "form-control" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                <%= form.submit "送信", class: "btn btn-primary", data: {disable_with: "送信中", toggle: "modal", target: "#createSpeak"} %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if current_user %>
        <%= link_to "コメントを削除する", user_task_speack_path(@task.user, @task, @speack), method: :delete, data: { confirm: "本当に削除しますか" }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
