<div class="page-header">
  <h2>ユーザー一覧</h2>
</div>

<p><%= link_to "ユーザーの新規登録", :new_admin_user %></p>

<% if @users.present? %>
<div class="row">
  <div class="col-md-4 col-xs-12">
    <%= form_tag :search_users, method: :get, class: "form-inline" do %>
    <span class="input-group">
      <%= text_field_tag "q", params[:q], class: "form-control", placeholder: "ユーザー名" %>
      <span class="input-group-btn">
        <%= submit_tag "検索", class: "btn btn-default" %>
      </span>
      <% end %>
    </span>
  </div>

  <div class="col-md-8 col-xs-12">
    <% @users.each do |user| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <p><%= link_to user.name, [:admin, user, :tasks] %></p>
          </div>
          <div class="col-md-4 col-xs-4">
            <div class="text-right">
              <%= link_to "編集", [:edit, :admin, user], class: "btn btn-primary btn-sm" %>
              <%= link_to "削除", [:admin, user], method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% else %>
<h4>会員情報がありません</h4>
<% end %>

<%= paginate @users %>
