<%= render "shared/errors", obj: @user %>

  <div class="form-group">
    <%= form.label :name, class: "control-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :password, class: "control-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation, class: "control-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

<% unless @user.new_record? %>
<p class="text-info">パスワードを変更しないときは、パスワード入力欄を空にしてください。</p>
<% end %>
